build
vendor
.DS_Store
.cursor
singing.test

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage*.out
final_coverage.out

# Duplicate directories (accidentally created)
* 2/
test/* 2/
eddsa/signing 2/

# IDE
.idea/*
!.idea/copyright/
!.idea/codeStyles/
*.swp
.vscode/*.json

# Temporary files
*.tmp
*.bak
*~

